html,
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2e404;
  flex-wrap: wrap;
}
header img {
  height: max(max(4vw, 5vh), 50px);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Holtwood One SC';
  font-size: max(1.3vw, 1rem);
  align-items: center;
  color: #0c3ace;
}
nav a {
  display: flex;
  text-decoration: none;
  margin: 0px 10px;
  width: max(10vw, 100px);
  text-align: center;
  height: 80%;
  align-items: center;
  justify-content: center;
}
nav a:visited {
  color: #0c3ace;
}
nav a:active {
  color: #f14517;
}
header > a {
  background-color: #0c3ace;
  height: 100%;
  padding: 10px 0px;
  box-shadow: 20px 0px #f14517;
}
